<div class="card flex justify-content-center">
    <p-fieldset>
        <ng-template pTemplate="header">
            <p>
                PROFİL     
                <p-tag value="{{!user.isClient? 'Kullanıcı' : 'Satıcı' }}"/>           
            </p>
        </ng-template>
        <p-tabView>
            <p-tabPanel header="Kullanıcı Bilgilerim">
                <div class="flex align-items-center justify-content-center">
                    <div class="flex flex-column align-items-center justify-content-center">
                        <div>
                        <label for="username" class="block text-900 text-xl font-medium mb-2">Kullanıcı Adı</label>
                        <div class="flex items-center">
                            <input 
                                id="username"
                                disabled={{userDisabled}}
                                pInputText  
                                [(ngModel)]="user.username" 
                                type="text" 
                                placeholder="Kullanıcı adı" 
                                class=" mb-5 mr-2" 
                                style="padding:1rem"
                            >
                            <p-button 
                                icon="{{userDisabled ? 'pi pi-pencil' : 'pi pi-check'}}"
                                (click)="(editUsername()) "
                                [outlined]="true"
                                [rounded]="true"
                                size="large"
                            />
                        </div>
                        
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <div class="flex items-center">
                            <input 
                                id="email" 
                                pInputText 
                                disabled={{emailDisabled}} 
                                [(ngModel)]="user.email" 
                                type="text" 
                                placeholder="Email" 
                                class=" mb-5 mr-2" 
                                style="padding:1rem"
                            >
                            <p-button 
                                icon="{{emailDisabled ? 'pi pi-pencil' : 'pi pi-check'}}"
                                (click)="(editEmail()) "
                                [outlined]="true"
                                [rounded]="true"
                                size="large"
                            />
                        </div>
                        <label for="tel" class="block text-900 text-xl font-medium mb-2">Telefon Numarası</label>
                        <small id="tel-help">
                            Örnek: "5051234567"
                        </small>
                        <div class="flex items-center">
                            <p-inputNumber  
                                id="tel" 
                                [(ngModel)]="user.contactNo" 
                                type="text"
                                aria-describedby="tel-help"
                                placeholder="Telefon Numarası" 
                                class=" mb-5 mr-2"
                                [useGrouping]="false"
                                [disabled]="telDisabled"
                            />
                            
                            <p-button 
                                icon="{{telDisabled ? 'pi pi-pencil' : 'pi pi-check'}}"
                                (click)="(editTel()) "
                                [outlined]="true"
                                [rounded]="true"
                                size="large"
                            />
                        </div>
                      </div>
                    </div>
            </div>
            </p-tabPanel>
            <p-tabPanel header="Adreslerim">
                    <p-button 
                        icon="pi pi-plus"
                        [outlined]="true"
                        [rounded]="true"
                        size="small"
                        (click)="showAddAddressDialog()"
                        label="Yeni adres"
                    /> <br>
                    <p-dialog header="Yeni Adres Ekle" [modal]="true" [(visible)]="addAddressDialog" [style]="{ width: '25rem' }">
                        <span class="p-text-secondary block mb-5">Adres detaylarını giriniz.</span>
                        <form [formGroup]="addressForm" (ngSubmit)="onAddAddress()">
                            <div class="flex align-items-center gap-3 mb-3">
                                <label for="title" class="font-semibold w-6rem">Adres Başlığı</label>
                                <input 
                                    pInputText 
                                    placeholder="Örnek: Esenler Evim" 
                                    formControlName="title" 
                                    class="flex-auto" 
                                    autocomplete="off" 
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-5">
                                <label for="contact" class="font-semibold w-6rem">İletişim Numarası</label>
                                <p-inputNumber  
                                id="contact" 
                                formControlName="contact"
                                placeholder="Örnek: 5051234567"
                                type="text"
                                class="flex-auto"
                                [useGrouping]="false"
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-5">
                                <label for="address" class="font-semibold w-6rem">Adres Bilgileri</label>
                                <textarea 
                                id="address" 
                                formControlName="details"
                                placeholder="Örnek: Ali Veli, Gençlik Mah. 123. Sok. No: 5, Esenler/İstanbul"
                                rows="7" 
                                cols="25" 
                                pInputTextarea
                                ></textarea>
                            </div>
                            <div *ngIf="addresses.length !== 0" class="flex align-items-center gap-3 mb-5">
                                <p-checkbox 
                                    formControlName="isDefault" 
                                    [binary]="true"
                                    inputId="isDefault" />
                                <label for="isDefault">Varsayılan adresim olarak kaydet</label>
                            </div>
                            <div class="flex justify-content-end gap-2">
                                <p-button label="İptal" severity="secondary" (click)="closeAddAddressDialog()" />
                                <p-button label="Kaydet" type="submit" />
                            </div>
                        </form>
                    </p-dialog>
                    <p-scrollPanel  *ngIf="addresses.length !== 0" 
                                    [style]="{ width: '100%', height: '25rem' }"
                                    styleClass="custombar1">
                        <div *ngFor="let address of addresses" class="w-25rem gap-3 mb-3">
                            <p-card class="mt-4">
                                    <div class="flex gap-3 mt-1">
                                        <h2 class="pt-1 pl-1">
                                            {{address['title']}}
                                            <p-chip  *ngIf="address['id'] === user['currentAddress']" label="Varsayılan" icon="pi pi-star" />
                                        </h2>
                                        
                                    </div>
                                    <div>
                                        <i>Tel: {{address['contactNo']}} </i><br>
                                        <p class="m-0">{{address['address1']}}</p>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <div class="flex gap-3 mt-1">
                                            <p-button 
                                                icon="{{address['id'] === user['currentAddress'] ? 'pi pi-star-fill':'pi pi-star'}}"
                                                disabled="{{address['id'] === user['currentAddress']}}"
                                                [outlined]="true" 
                                                class="w-full" 
                                                (click)="confirm3($event, address['id'])"
                                                styleClass="w-full" />
                                            <p-button 
                                                label="Adresi Sil" 
                                                disabled="{{address['id'] === user['currentAddress']}}"
                                                severity="danger" 
                                                class="w-full" 
                                                styleClass="w-full" 
                                                (click)="confirm4($event, address['id'])"
                                                [outlined]="true"/>
                                        </div>
                                    </ng-template>
                            </p-card>
                        </div>
                    </p-scrollPanel>
                      <div *ngIf="addresses.length === 0" >Henüz kayıtlı adresiniz yok. Yukarıdan ekleyebilirsiniz.</div>
            </p-tabPanel>
            <p-tabPanel header="Şifre Değiştir">
                <div class="flex align-items-center justify-content-center">
                    <div class="flex flex-column align-items-center justify-content-center">
                                <div>
                                  <form [formGroup]="resetForm" (ngSubmit)="onReset()" class="center-form">
                                        
                                        <label for="passwordNew" class="block text-900 font-medium text-xl mb-2">Yeni Şifre</label>
                                        <p-password id="passwordNew" formControlName="passwordNew" placeholder="Yeni Şifre" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-25rem"></p-password>
                                        
                                        <label for="passwordOld" class="block text-900 font-medium text-xl mb-2">Eski Şifre</label>
                                        <p-password id="passwordOld" [feedback]="false" formControlName="passwordOld" placeholder="Eski Şifre" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-25rem"></p-password>
                                        
                                      <div class="flex align-items-center justify-content-between mb-1 gap-1">
                                      </div>
                                      <button pButton type="button" (click)="confirm2($event)" [loading]="isLoading" pRipple [outlined]="true" [rounded]="true" label="Şifreyi Sıfırla" class="w-full p-3 mb-7 text-xl"></button>
                                      <p-toast />
                                    <p-confirmPopup />
                                   </form>
                                  </div>
                    </div>
                  </div>
            </p-tabPanel>
            <p-tabPanel header="Ürünlerim" *ngIf="user['isClient'] === true">
                <ng-template pTemplate="content">
                    <p-button 
                        icon="pi pi-plus"
                        [outlined]="true"
                        [rounded]="true"
                        size="small"
                        label="Yeni ürün"
                        (click)="showAddItemDialog()"
                    /> <br><br>
                    <div *ngIf="items.length === 0" >Henüz satışta ürününüz yok. Yukarıdan ekleyebilirsiniz.</div>
                    
                    <p-dialog header="Yeni Ürün Ekle" [modal]="true" [(visible)]="addItemDialog" [style]="{ width: '50rem' }">
                        <span class="p-text-secondary block mb-5">Ürün detaylarını giriniz.</span>
                        <form [formGroup]="itemForm" (ngSubmit)="onAddItem()">
                            <div class="flex align-items-center gap-3 mb-3">
                                <label for="itemTitle" class="font-semibold w-6rem">Ürün Başlığı</label>
                                <input 
                                    pInputText 
                                    placeholder="Örnek: 1 Kg. Kırmızı Elma" 
                                    formControlName="title" 
                                    class="flex-auto" 
                                    autocomplete="off" 
                                    id="itemTitle"
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-3">
                                <label for="itemCategory" class="font-semibold w-6rem">Kategori</label>
                                <input 
                                    pInputText 
                                    placeholder="Örnek: Meyve" 
                                    formControlName="category" 
                                    class="flex-auto" 
                                    autocomplete="off" 
                                    id="itemCategory"
                                />
                                <label for="itemPhoto" class="font-semibold w-6rem">Foto URL</label>
                                <input 
                                    pInputText 
                                    placeholder="Örnek: imgur.com/123.jpg" 
                                    formControlName="photo" 
                                    class="flex-auto" 
                                    autocomplete="off" 
                                    id="itemPhoto"
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-5">
                                <label for="itemPrice" class="font-semibold w-6rem">Fiyat</label>
                                <p-inputNumber  
                                id="itemPrice" 
                                formControlName="price"
                                placeholder="Örnek: 50,99"
                                mode="currency" 
                                currency="TRY" 
                                locale="tr-TR"
                                class="flex-auto"
                                />
                                <label for="itemStock" class="font-semibold w-6rem">Stok</label>
                                <p-inputNumber  
                                id="itemStock" 
                                formControlName="stock"
                                placeholder="Örnek: 985"
                                type="text"
                                class="flex-auto"
                                [useGrouping]="false"
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-5">
                                <label for="itemDetails" class="font-semibold w-6rem">Ürün Açıklaması</label>
                                <textarea 
                                id="itemDetails" 
                                formControlName="description"
                                placeholder="Örnek: Amasya elması, 1 kg. fiyatıdır. Tüm Türkiye'ye kargo yapılır."
                                rows="9" 
                                cols="70" 
                                pInputTextarea
                                ></textarea>
                            </div>
                            <div class="flex justify-content-end gap-2">
                                <p-button label="İptal" severity="secondary" (click)="closeAddItemDialog()" />
                                <p-button label="Kaydet" type="submit" />
                            </div>
                        </form>
                    </p-dialog>

                    <p-dialog header="Ürünü Düzenle" [modal]="true" [(visible)]="editItemDialog" [style]="{ width: '50rem' }">
                        <span class="p-text-secondary block mb-5">Ürün detaylarını giriniz.</span>
                        <form [formGroup]="itemEditForm" (ngSubmit)="onEditItem()">
                            <div class="flex align-items-center gap-3 mb-3">
                                <label for="itemTitle" class="font-semibold w-6rem">Ürün Başlığı</label>
                                <input 
                                    pInputText 
                                    placeholder="Örnek: 1 Kg. Kırmızı Elma" 
                                    formControlName="title" 
                                    class="flex-auto" 
                                    autocomplete="off" 
                                    id="itemTitle"
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-3">
                                <label for="itemCategory" class="font-semibold w-6rem">Kategori</label>
                                <input 
                                    pInputText 
                                    placeholder="Örnek: Meyve" 
                                    formControlName="category" 
                                    class="flex-auto" 
                                    autocomplete="off" 
                                    id="itemCategory"
                                />
                                <label for="itemPhoto" class="font-semibold w-6rem">Foto URL</label>
                                <input 
                                    pInputText 
                                    placeholder="Örnek: imgur.com/123.jpg" 
                                    formControlName="photo" 
                                    class="flex-auto" 
                                    autocomplete="off" 
                                    id="itemPhoto"
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-5">
                                <label for="itemPrice" class="font-semibold w-6rem">Fiyat</label>
                                <p-inputNumber  
                                id="itemPrice" 
                                formControlName="price"
                                placeholder="Örnek: 50,99"
                                mode="currency" 
                                currency="TRY" 
                                locale="tr-TR"
                                class="flex-auto"
                                />
                                <label for="itemStock" class="font-semibold w-6rem">Stok</label>
                                <p-inputNumber  
                                id="itemStock" 
                                formControlName="stock"
                                placeholder="Örnek: 985"
                                type="text"
                                class="flex-auto"
                                [useGrouping]="false"
                                />
                            </div>
                            <div class="flex align-items-center gap-3 mb-5">
                                <label for="itemDetails" class="font-semibold w-6rem">Ürün Açıklaması</label>
                                <textarea 
                                id="itemDetails" 
                                formControlName="description"
                                placeholder="Örnek: Amasya elması, 1 kg. fiyatıdır. Tüm Türkiye'ye kargo yapılır."
                                rows="9" 
                                cols="70" 
                                pInputTextarea
                                ></textarea>
                            </div>
                            <div class="flex justify-content-end gap-2">
                                <p-button label="İptal" severity="secondary" (click)="closeEditItemDialog()" />
                                <p-button label="Kaydet" type="submit" />
                            </div>
                        </form>
                    </p-dialog>

                    <div *ngIf="items.length !== 0" class="card">
                        <p-dataView #dv [value]="items" [rows]="5" [paginator]="true">
                            <ng-template pTemplate="list" let-products>
                                <div class="grid grid-nogutter">
                                    <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">
                                        <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                                            <div class="md:w-10rem relative">
                                                <img class="block xl:block mx-auto border-round w-full" [src]="item.photo" />
                                            </div>
                                            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                                    <div>
                                                        <span class="font-medium text-secondary text-sm">{{ 'Kategori: '+item.category }}</span>
                                                        <div class="text-lg font-medium text-900 mt-2">{{ item.title }}</div>
                                                    </div>
                                                </div>
                                                <div class="flex flex-column md:align-items-end gap-5">
                                                    <span class="text-xl font-semibold text-900">{{ item.price + '₺' }}</span>
                                                    <div class="flex flex-row-reverse md:flex-row gap-2">
                                                        <p-button icon="pi pi-trash" severity="danger" (click)="confirm5($event, item.id)" [outlined]="true" />
                                                        <p-button icon="pi pi-pencil" (click)="showEditItemDialog(item)" [outlined]="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataView>
                    </div>

                </ng-template>
            </p-tabPanel>
        </p-tabView>
            <p-toast />
            <p-confirmPopup />
            <p-button 
                (click)="confirm1($event)" 
                label="Çıkış Yap" 
                />
            
    </p-fieldset>
</div>