  
  <div>Giriş Yap yada <button (click)="navigateToSignup()">Kayıt Ol</button> </div>
  ________________________________________________ <br>
<form [formGroup]="signinForm" (ngSubmit)="onSignin()">
    <label for="username">Kullanıcı Adı: </label>
    <input id="username" formControlName="username" type="username" required>
    <br>
    <label for="password">Şifre: </label>
    <input id="password" formControlName="password" type="password" required>
    <br>
    <br>
    
    <button type="submit" [disabled]="signinForm.invalid">Giriş Yap</button>
    <div *ngIf="isLoading">Yükleniyor...</div>
  </form>
  