<p-sidebar [(visible)]="visible" position="right" [style]="{ width: '50rem'}">
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl">Sepet</span>
    </ng-template>
    <div *ngIf="productCount === 0">
        Sepetinizde ürün bulunmuyor.
    </div>
    <div *ngIf="productCount !== 0">
        <div style="display: flex; justify-content: flex-end;">
            <button outlined="true" (click)="confirmDeleteAll($event)" pButton class="mt-1 mb-5"><i class="pi pi-trash mr-3"></i> Sepeti Boşalt</button>
        </div>
        
        <p-table [scrollable]="true" scrollHeight="30rem" [value]="products" [tableStyle]="{ 'min-width': '20rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ürün Adı</th>
                    <th>Adet</th>
                    <th>Fiyat</th>
                    <th>Kaldır</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td style="word-break: break-word" >{{ product.itemName }}</td>
                    <td>
                        <div class="flex flex-wrap gap-3 p-fluid" style="width: 60%;">
                            <p-inputNumber
                            [(ngModel)]="product.quantity"
                            [showButtons]="true"
                            buttonLayout="horizontal"
                            inputId="horizontal"
                            spinnerMode="horizontal"
                            [step]="1"
                            [min]="1"
                            [max]="product.itemStock"
                            mode="decimal" 
                            (onInput)="onChangeQuantity($event,product.id,product.quantity,product.itemStock)"
                            incrementButtonIcon="pi pi-plus"
                            decrementButtonIcon="pi pi-minus" />
                        </div>
                    </td>
                    <td>{{ product.itemPrice }}₺</td>
                    <td> <button outlined="true" (click)="confirmDelete($event,product.id)" severity="danger" pButton icon="pi pi-trash"></button> </td>    
                </tr>
            </ng-template>
        </p-table>
    
        <div class="grid">
                <div class="col-12">
                    <div class="flex flex-column gap-2">
                        <form [formGroup]="promoForm" (ngSubmit)="applyPromo()">
                        <input 
                            pInputText
                            id="promoCode"
                            formControlName="promo"
                            class="mt-5"
                            placeholder="Kupon Kodu"
                            />
                            <button 
                            pButton 
                            style="justify-content: center;"
                            outlined="true" 
                            class="mt-5 ml-1 mr-3"
                            >
                                <i class="{{promoButton.icon}} mr-3"></i> 
                                {{promoButton.label}} 
                            </button>
                            {{discountText}}
                        </form>
                    </div>
                </div>
            
            <div class="col-10">
                <button 
                pButton 
                style="width: 100%; justify-content: center;" 
                (click)="openPurchase()"
                >
                    <i class="pi pi-shopping-bag mr-3"></i> 
                    Alışverişi Tamamla
                </button>
            </div>
            <div class="col-2">
                <button
                pButton
                severity="success"
                rounded="true"
                style="width: 100%; justify-content: center;" 
                >
                    {{totalPrice.toFixed(2)}}
                    <i class="pi pi-turkish-lira ml-1"></i> 
                </button>
            </div>
    
        </div>
    </div>

</p-sidebar>

<p-sidebar
        [modal]="false"
        [(visible)]="purchaseVisible" 
        [position]="'left'"
        [style]="{ width: '50rem' }">

        <ng-template pTemplate="header">
            <span class="font-semibold text-xl">Siparişi Tamamla</span>
        </ng-template>
            <p-steps [activeIndex]="activeIndex" [model]="stepItems" />

            <div *ngIf="activeIndex == 0 && addresses.length !== 0" class="mt-2">
                <p-carousel 
                [value]="addresses" 
                [numVisible]="1" 
                [numScroll]="1" 
                [circular]="false" 
                >
                <ng-template pTemplate="header">
                    <h3 class="mt-5">Teslimat Adresi</h3>
                </ng-template>
                    <ng-template let-address pTemplate="item">
                        <div class="border-1 surface-border border-round m-2 p-3">
                            <div class="mb-3 font-semibold">
                                {{ address.title }}
                            </div>
                            <div>
                                {{ address.address1 }}
                            </div>
                            <div class="mb-1 font-medium">
                                İletişim: {{ address.contactNo }}
                            </div>
                            <div class="flex justify-content-between align-items-center">
                                <span>
                                    <p-button icon="pi pi-check" (onClick)="selectShippingAddress(address)" severity="secondary" [outlined]="selectedShippingAddress !== address" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <span class="font-semibold text-sm">Adreslerinizi profilinizden düzenleyebilirsiniz.</span>
                    </ng-template>
                </p-carousel>
                <div class="flex align-items-center gap-3 mb-5">
                    <p-checkbox
                        [(ngModel)]="matchAddresses"
                        [binary]="true"
                        inputId="isDefault" />
                    <label for="isDefault">Teslimat adresimi fatura adresi olarak kullan.</label>
                </div>
                <p-carousel
                *ngIf="!matchAddresses"
                [value]="addresses" 
                [numVisible]="1" 
                [numScroll]="1" 
                [circular]="false"
                >
                <ng-template pTemplate="header">
                    <h3 class="mt-2">Fatura Adresi</h3>
                </ng-template>
                    <ng-template let-address pTemplate="item">
                        <div class="border-1 surface-border border-round m-2 p-3">
                            <div class="mb-3 font-semibold">
                                {{ address.title }}
                            </div>
                            <div>
                                {{ address.address1 }}
                            </div>
                            <div class="mb-1 font-medium">
                                İletişim: {{ address.contactNo }}
                            </div>
                            <div class="flex justify-content-between align-items-center">
                                <span>
                                    <p-button icon="pi pi-check" (onClick)="selectedBillingAddress=address" severity="secondary" [outlined]="selectedBillingAddress !== address" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>

                <div class="flex justify-content-end gap-2">
                    <p-button label="İptal" size="large" severity="secondary" (click)="purchaseVisible = false" />
                    <p-button icon="pi pi-arrow-right" size="large" outlined="true" (click)="activeIndex = activeIndex + 1" />
                </div>
            </div>
            <div *ngIf="activeIndex == 0 && addresses.length === 0" class="mt-2">
                Devam etmek için lütfen profilinizden adres ekleyin.
            </div>
            <div *ngIf="activeIndex == 1" class="mt-5">
                <h3 class="mb-3">Ödeme Bilgileri</h3>
                <form [formGroup]="paymentForm">
                    <label for="holder" class="mr-2">Kart Sahibi</label>
                    <input id="holder" type="text" pInputText formControlName="holder" /> 
                    <br><br>
                    <label for="cardNumber" class="mr-2">Kart Numarası</label>
                    <p-inputNumber inputId="cardNumber" [useGrouping]="false" showClear="true" allowEmpty="true" maxlength="16" formControlName="cardNo" />
                    <br><br>
                    <label for="cvc" class="mr-2">Güvenlik Kodu (CVC)</label>
                    <p-inputNumber inputId="cvc" [useGrouping]="false" allowEmpty="true" minlength="3" maxlength="4" formControlName="cvc" />
                    <br><br>
                    <label for="expirationDate" class="mr-2">Son Kullanma Tarihi</label>
                    <p-calendar 
                    formControlName="expiration"
                    id="expirationDate"
                    view="month" 
                    [minDate]="currentDate"
                    dateFormat="mm/yy" 
                    [readonlyInput]="true" />
                </form>


                <div class="flex justify-content-end gap-2">
                    <p-button icon="pi pi-arrow-left" size="large" outlined="true" severity="secondary" (click)="activeIndex = activeIndex - 1" />
                    <p-button icon="pi pi-arrow-right" size="large" outlined="true" (click)="confirmPayment()" />
                </div>
            </div>
            <div *ngIf="activeIndex == 2" class="mt-2">
                <h3>Detaylar</h3>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Teslimat Adresi:</b> {{selectedShippingAddress.address1}}</li>
                        <li class="list-group-item"><b>Teslimat İletişim:</b> {{selectedShippingAddress.contactNo}}</li>
                        <li class="list-group-item"><b>Fatura Adresi: </b>{{selectedBillingAddress.address1}}</li>
                        <li class="list-group-item"><b>Ödeme Aracı:</b> Banka / Kredi Kartı ({{cardNo}})</li>
                        <li class="list-group-item"><b>Toplam Fiyat: </b>{{totalPrice.toFixed(2)}}₺</li>
                    </ul>
                </div>


                <div class="flex justify-content-end gap-2">
                    <p-button icon="pi pi-arrow-left" outlined="true" size="large" severity="secondary" (click)="activeIndex = activeIndex - 1" />
                    <p-button label="Sipariş Ver" size="large" (click)="confirmOrder()" />
                </div>
            </div>

            
    </p-sidebar>

<p-toast />
<p-confirmPopup />