<div class="layout-footer" style="display: flex; justify-content: center; align-items: center;">
    <div style="text-align: left;">
        <a href="https://github.com/poetlog/vendzoFE" target="_blank">
            <i class="pi pi-github"></i> GitHub
        </a>
    </div>
    <div style="flex-grow: 1; text-align: center;">
        <img src="assets/layout/images/logo.svg" alt="Logo" height="20" class="mb-1" style="vertical-align: middle;" />
        by
        <span class="font-medium">
            <a 
                href="https://www.linkedin.com/in/kutuk-emre/"
                target="_blank"
                style="color: black"
                >
                Emre Kütük <i class="pi pi-external-link" style="vertical-align: super; font-size: 0.50em;"> </i>
            </a> 
        </span>
    </div>
    <div style="text-align: right; margin-right: 3rem;">
        <b>2024</b>
    </div>
</div>