<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/splash.png" alt="logo">
    </a>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-chip *ngIf="isLogged" class="mt-2" label="Merhaba, {{user?.username}}" />
        <button routerLink="/signin" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
        </button>
        <button *ngIf="isLogged" pButton outlined="yes" (click)="cartSidebarVisible=true" class="p-link layout-topbar-button">
            <i class="pi pi-shopping-cart"></i>
        </button>
    </div>
</div>
<app-cart   
[visible]="cartSidebarVisible"
(visibleChange)="cartSidebarVisible = $event"
></app-cart>