.button-group {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px;
    border: none;
    color: black;
    background-color: #ddd;
    justify-content: center;
}
  
  .btn.selected {
    color: white;
    background-color: var(--primary-color);
  }